<app-nav-side-bar></app-nav-side-bar>

<section class="h-screen bg-gray-200">
    <div class="container mx-auto py-5 h-full">
        <div class="flex justify-center items-center h-full">
            <div class="bg-white rounded p-6">
                <div class="text-center mb-12">
                    <img src="../../../assets/89037.png" alt="Imagen" class="mx-auto w-24 h-24 mb-4">
                    <div class="border-t border-red-500 mt-4 mb-4 w-2/3 mx-auto"></div>
                    <span>Crear reserva</span>
                </div>

                <form>
                    <div class="mb-12">
                        <div class="flex mb-12">
                            <div class="w-1/2 pr-2">
                                <label for="solicitantes" class="block mb-2">Solicitantes</label>
                                <select class="form-control w-full border rounded p-2" id="solicitantes">
                                    <option value="opcion1">Carreño</option>
                                    <option value="opcion2">Yepez</option>
                                </select>
                            </div>
                            <div class="w-1/2 pl-2">
                                <label for="materia" class="block mb-2">Materia</label>
                                <select class="form-control w-full border rounded p-2" id="materia">
                                    <option value="materia1">Machine Learning</option>
                                    <option value="materia2">Proyecto 1</option>
                                </select>
                            </div>
                        </div>

                        <div class="flex mb-12">
                            <div class="w-1/2 pr-2">
                                <label for="capacidad" class="block mb-2">Capacidad</label>
                                <input type="number" class="w-full border-b border-t-0 border-l-0 border-r-0 p-2" name="capacidad">
                            </div>
                            <div class="w-1/2 pl-2">
                                <label for="fecha" class="block mb-2">Fecha</label>
                                <input type="date" class="w-full border-b border-t-0 border-l-0 border-r-0 p-2" name="fecha">
                            </div>
                        </div>

                        <div class="mb-12">
                            <div class="w-full">
                                <label for="salones" class="block mb-2">Salones disponibles</label>
                                <select class="form-control w-full border rounded p-2" id="salones">
                                    <option value="salon1">301 FIET</option>
                                    <option value="salon2">333 FIET</option>
                                </select>
                            </div>
                        </div>

                        <div class="flex justify-end">
                            <button type="submit" class="bg-black text-white px-4 py-2 rounded">Crear</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
