<app-nav-side-bar [vRol]="role_nav"></app-nav-side-bar>
<section class="h-screen bg-gray-200">
    <div class="container mx-auto py-5 h-full">
        <div class="flex justify-center items-center h-full">
            <div class="bg-white rounded p-6">
                <div class="text-center mb-12">
                    <img src="../../../assets/person-circle.svg" alt="Imagen" class="mx-auto w-16 h-16">
                    <div class="border-t border-red-500 mt-4 mb-4"></div>
                    <span>Crear usuario</span>
                </div>

                <form (submit)="registerUser($event)">
                    <div class="mb-12">
                        <div class="flex mb-12">
                            <div class="w-1/2 pr-2">
                                <label for="rol" class="block mb-2">Rol:</label>
                                <select class="form-control w-full border rounded p-2" id="rol">
                                    <option value="ADMIN">ADMIN</option>
                                    <option value="COORDINADOR">COORDINADOR</option>
                                    <option value="DOCENTE">DOCENTE</option>
                                </select>
                            </div>
                            <div class="w-1/2 pl-2">
                                <label for="nombre" class="block mb-2">Nombre:</label>
                                <input type="text" class="form-control w-full border rounded p-2" id="nombre" placeholder="Ingrese el nombre">
                            </div>
                        </div>

                        <div class="flex mb-12">
                            <div class="w-1/2 pr-2">
                                <label for="apellido" class="block mb-2">Apellido:</label>
                                <input type="text" class="form-control w-full border rounded p-2" id="apellido" placeholder="Ingrese el apellido">
                            </div>
                            <div class="w-1/2 pl-2">
                                <label for="nombreUsuario" class="block mb-2">Nombre de Usuario:</label>
                                <input type="text" class="form-control w-full border rounded p-2" id="nombreUsuario" placeholder="Ingrese el nombre de usuario">
                            </div>
                        </div>

                        <div class="flex mb-12">
                            <div class="w-1/2 pr-2">
                                <label for="contrasena" class="block mb-2">Contraseña:</label>
                                <input type="password" class="form-control w-full border rounded p-2" id="contrasena" placeholder="Ingrese la contraseña">
                            </div>
                            <div class="w-1/2 pl-2">
                                <label for="email" class="block mb-2">Email:</label>
                                <input type="email" class="form-control w-full border rounded p-2" id="email" placeholder="Ingrese el email">
                            </div>
                        </div>

                        <div class="flex justify-end">
                            <button type="submit" class="btn bg-black text-white px-4 py-2 rounded">Crear</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
