/* Estilos personalizados */
.custom-box {
    padding: 140px;
    background-color: #ffffff;
    text-align: center;
    border-radius: 10px; /* Ajusta el valor según el grado de redondeo que desees */
}


.custom-icon {
    font-size: 8em;
    color: rgb(255, 191, 16); /* Cambia el color del icono según tus preferencias */
}

.custom-text {
    font-size: 2em;
    margin-bottom: 60px;
}

.custom-button {
    font-size: 1.5em;
    margin-top: 60px;
}

img {
    width: 100px; /* Ajusta el valor según el tamaño deseado */
    height: auto; /* Mantiene la proporción original de la imagen */
    margin-bottom: 60px;
}
