<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="successwindow.component.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Ejemplo de Cuadro Bootstrap</title>
</head>
<body>
    <section class="vh-100" style="background-color: #DCDCDC;">
        <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
            <div class="custom-box">
                <!-- Icono (puedes reemplazarlo con tu icono) -->
                <img src="../../assets/svg/iconfinder-check-4341282_120572.svg">
                <!-- Texto -->
                <h1 class="custom-text">Se ha cerrado sesión con éxito</h1>
                <!-- Botón "Aceptar" -->
                <button class="btn btn-primary custom-button mt-3" style="font-size: 1.5em;">Aceptar</button>
            </div>
        </div>
    
        <!-- Agrega la librería Font Awesome para el icono -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">    
    </section>

</body>
</html>
