<div class="w-full h-screen">
    <app-nav-side-bar [vRol]="role_nav"></app-nav-side-bar>
    <div class="p-4 sm:ml-64">
      <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-14">
        <h1 class="text-[30px] font-bold ml-3">
          Reservas Pendientes
        </h1>
        <swiper-container slides-per-view="4" speed="500" loop="true">
          <swiper-slide><app-card [card] = reserve_card></app-card></swiper-slide>
        </swiper-container>
      </div>
  
      <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-14">
        <h1 class="text-[30px] font-bold ml-3">
          Reservas Confirmadas
        </h1>
        <swiper-container slides-per-view="4" speed="500" loop="true">
          <swiper-slide><app-card [card] = reserve_card></app-card></swiper-slide>
        </swiper-container>
      </div>
      <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-14">
        <h1 class="text-[30px] font-bold ml-3">
        GRAPHIC-SECTION[SOON]
        </h1>
      </div>
    </div>
  </div>
  