<div class=" p-2 w-[100%]" [ngSwitch]=route>
    <div *ngSwitchCase="'users_view'">
        <div class="bg-black text-white p-2 rounded-t-lg flex gap-2 ">
            <div *ngFor="let title of table.title; let last = last; " class="flex-1">
                <h5 class="mb-2 text-sm font-bold tracking-tight text-white" [class.text-center]=!last> {{title}} </h5>
            </div>
        </div>
        <div
            class="bg-white border-gray-200 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 p-2 rounded-b-lg">
            <ul>
                <!--AQUI DEBES DE ITERAR LA LISTA DE USUARIOS-->
                <li class=" flex items-center hover:bg-slate-100 ">
                    <span class="w-4 h-4 bg-white border border-[#CFCFCF] rounded-full mr-2"></span>
                    <img [src]="table.img" alt="user_icon" class="w-6 h-6 rounded-full">
                    <div *ngFor="let table_li of table.li_content let i = index let last = last;" class="flex-1">
                        <div class="flex flex-col" [class.ml-3]=!last>
                            <span class="text-[12px]">
                                {{table_li}}
                            </span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div *ngSwitchCase="'classroom_view'">
        <div class="bg-black text-white p-2 rounded-t-lg flex gap-2 ">
            <div *ngFor="let title of table.title; let last = last; " class="flex-1">
                <h5 class="mb-2 text-sm font-bold tracking-tight text-white text-center"> {{title}} </h5>
            </div>
        </div>
        <div
            class="bg-white border-gray-200 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 p-2 rounded-b-lg">
            <ul>
                <!--AQUI DEBES DE ITERAR LA LISTA DE SALONES-->
                <li class=" flex items-center hover:bg-slate-100 ">
                    <span class="w-4 h-4 bg-white border border-[#CFCFCF] rounded-full mr-2"></span>
                    <div *ngFor="let table_li of table.li_content let i = index let last = last;" class="flex-1">
                        <div class="flex ml-3">
                            <span class="text-[12px]">
                                {{table_li}}
                            </span>
                        </div>
                    </div>
                    <span class="w-6 h-6 bg-[#{{table.state}}] border border-[#CFCFCF] rounded-full mr-16"></span>
                </li>
            </ul>
        </div>
    </div>
    <div *ngSwitchCase="'booking_view'">
        <div>
            <div class="bg-black text-white p-2 rounded-t-lg flex gap-2 ">
                <div *ngFor="let title of table.title; let last = last; " class="flex-1">
                    <h5 class="mb-2 text-sm font-bold tracking-tight text-white " [class.text-center]=!last> {{title}} </h5>
                </div>
            </div>
            <div
                class="bg-white border-gray-200 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 p-2 rounded-b-lg">
                <ul>
                    <!--AQUI DEBES DE ITERAR LA LISTA DE RESERVAS-->
                    <li class="hover:bg-slate-100">
                        <div class="flex">
                            <span class="w-4 h-4 bg-white border border-[#CFCFCF] rounded-full mr-2"></span>
                            <div *ngFor="let table_li of table.li_content let i = index let last = last;"
                                class="flex-1">
                                <div class="flex ml-3">
                                    <span class="text-[12px]">
                                        {{table_li}}
                                    </span>
                                </div>
                            </div>
                            <div>
                            </div>
                        </div>
                        <button class="bg-white shadow-md rounded border-1 w-[80px] h-[30px] font-bold ml-8 mt-1 mb-1">
                            aceptar
                        </button>
                        <button
                            class="bg-white shadow-md rounded border-1 w-[80px] h-[30px] font-bold ml-4 mt-1 mb-1 text-red-600">
                            denegar
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>